<p id="notice"><%= notice %></p>

<a href="" id="up_arrow">&#x25B2;</a> <!-- up arrow -->
<a href="" id="down_arrow">&#x25BC;</a> <!-- down arrow -->

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
