
@import "twitter/bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *=
 *= require_self
 *= require_tree .
 */


//overrides 
body{
  background-color:#DBDBE8 !important;
}
.jumbotron{
  background-color:#F3F5F3 !important;
  background-image:url(/icons/cat_jump.svg) !important;
  background-repeat: no-repeat;
  background-position: 100% 25% !important;
}
.thumbnail{
  background-image:url(/icons/cat_search.svg) !important;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 100% 100% !important;
}
.navbar{
font-family: 'Limelight', cursive;
font-size:20px;
}
h1, h2, h3, h4{
 font-family: 'Limelight', cursive !important; 
}
.navbar-brand{
  width:50px;
  background-image: url(/icons/cat_benni.svg);
  background-size:100%;
  background-position: middle;
  background-repeat: no-repeat;

}
// end overrides
@import 'twitter/bootstrap'


