$purple_one: #25064D;


.commentForm{
display:none;
}


.wrapper{
  width:95%;

  max-width:1500px;


  margin:auto;
}
.border{
  height:1px;
  width:100%;
  padding:0px 0px;
  background-color:#cccccc;  
}
.thumbnail{
}
.cont{
  margin-top: 15px;
}
#comment_comment{
  width:70%;
  padding:0px 0px 50px 0px;
  margin:auto;
}
.floated{
  width:75%;
  margin:5px auto;
}

.float_right{
  float:right;
}

.picture-title{
  position: relative;
  width:75%;
}
.cat_icon{
  background-image:url(/icons/cat_jump.svg);
}
